<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
     var app = angular.module('myApp', []);
     app.controller('myController', function() {
       this.members = [
         {name: 'Tanaka', age: 36},
         {name: 'Suzuki', age: 16},
         {name: 'Yamada', age: 26}
       ];
     });
    </script>
  </head>
  <body>
    <div ng-controller="myController as myCtrl">
      <input type="text" ng-model="searchText">
      <ul>
        <li ng-repeat="member in myCtrl.members|filter:searchText">
          {{member.name}} - {{member.age}}
        </li>
      </ul>
    </div>
  </body>
</html>
