<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
     var app = angular.module('myApp', []);
     app.controller('myController', function() {
       this.members = [
         {name: 'Tanaka', age: 36},
         {name: 'Suzuki', age: 16},
         {name: 'Yamada', age: 26}
       ];
       this.onAdd = function() {
         this.members.push({name: this.name, age:this.age});
         this.name = this.age = "";
       };
       this.onDel = function() {
         for (var i = 0; i < this.members.length; i++) {
           if (this.members[i].checked) {
             this.members.splice(i--, 1);
           }
         }
       };
     });
    </script>
  </head>
  <body ng-controller="myController as myCtrl">
    <div>
      <input type="text" ng-model="myCtrl.name">
      (<input type="text" ng-model="myCtrl.age">)
      <button ng-click="myCtrl.onAdd()">Add</button>
    </div>
    <div ng-repeat="member in myCtrl.members">
      <input type="checkbox" ng-model="member.checked">{{member.name}}({{member.age}})
    </div>
    <div><button ng-click="myCtrl.onDel()">Del</button></div>
    <hr><pre>{{myCtrl|json}}</pre><hr>
  </body>
</html>
