<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <script src="jquery.js"></script>
    <script src="sha1.js"></script>
    <script src="sha1~.js"></script>
  </head>
  <body>
    <h1>Hi there</h1>
    <h2></h2>
    <h3></h3>
    <ul>
      <% @values.each do |value| %>
      <li><%= value %></li>
      <% end %>
    </ul>
    <form action="/" method="post" accept-charset="shift_jis">
      <input type="text" name="key1" value="ほげ">
      <input type="text" name="key2" value="ふが">
      <input type="hidden" name="hex" value="">
      <button>Submit</button>
    </form>
    <script src="app.js"></script>
  </body>
</html>
