<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
     var app = angular.module('myApp', []);
     app.controller('MainCtrl', function($scope) {
       $scope.name = "Hoge";
       $scope.onClickBtn = function() {
         $scope.name = $scope.name.split('').reverse().join('');
       };
     });
    </script>
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <input type="text" ng-model="name">
      <button ng-click="onClickBtn()">reverse</button>
      <div>Hello {{name}}</div>
    </div>
  </body>
</html>
