<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
     var app = angular.module('myApp', []);
     app.controller('FirstCtrl', function($scope) {
     });
     app.controller('SecondCtrl', function($scope) {
     });
    </script>
  </head>
  <body>
    <div ng-controller="FirstCtrl">
      <input type="text" ng-model="name">
      <div>hello {{name}}</div>
    </div>

    <div ng-controller="SecondCtrl">
      <input type="text" ng-model="name">
      <div>hello {{name}}</div>
    </div>
  </body>
</html>
